[submodule ".registry"]
	path = .registry
	url = https://github.com/statnmap/statnmap.r-universe.dev
	branch = HEAD
[submodule "GeoDist"]
	path = GeoDist
	url = https://github.com/statnmap/GeoDist
[submodule "HatchedPolygons"]
	path = HatchedPolygons
	url = https://github.com/statnmap/HatchedPolygons
[submodule "SDMSelect"]
	path = SDMSelect
	url = https://github.com/statnmap/SDMSelect
[submodule "cartomisc"]
	path = cartomisc
	url = https://github.com/statnmap/cartomisc
[submodule "parsermd"]
	path = parsermd
	url = https://github.com/statnmap/parsermd
	branch = nocpp
[submodule "pdfreport"]
	path = pdfreport
	url = https://github.com/statnmap/pdfreport
[submodule "servers.tools"]
	path = servers.tools
	url = https://github.com/statnmap/servers.tools
[submodule "tweetrbot"]
	path = tweetrbot
	url = https://github.com/statnmap/tweetrbot
